HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


### Java ###
*.class
*.war
*.ear

### Logs ###
*.log


### Build ###
/target/
/build/
/out/

### OS ###
.DS_Store
Thumbs.db

### Spring Boot config ###
# Ignore local locales configuration with credential
src/main/resources/application.properties
src/main/resources/application.yml

# Mantain local configuration without credential
!src/main/resources/application-example.properties
!src/main/resources/application-example.yml

### JWT keys ###
# Ignore keys belonging to resources/jwt
src/main/resources/jwt/*.key
src/main/resources/jwt/*.pub
src/main/resources/jwt/*.pem